body {
  background-color: rgb(223, 247, 255);
  padding: 5%; 
}

#comment-section {
  display: grid; 
  grid-template-columns: 50% 50%;
}

#input-area {
  grid-column-start: 1;
}

#output-area {
  grid-column-start: 2;
}