<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="../styles/comments.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body onload="postComment()">
    <header class="header">
      <h2>Contact</h2>
    </header>
    <div id="comment-section">
      <div id="input-area">
        <form id="form" autocomplete="off" action="/create-new-comment" method="POST">
          <img id="img1" src="../images/CommentImg1.png"/>
          <p id="contact-info">
            To contact Kira with questions or suggestions for this page (or horror movie recommendations), 
            send her an email at ktoal@google.com. You are also free to leave a comment using the form below.
          </p>
          <p>Name:</p>
          <input type="text-input" name="username">
          <p>Leave a comment:</p>
          <input type="text-input" name="comment">
          <p></p>
          <input type="submit" value="Submit">
        </form> 
      </div>
      <div id="output-area">
        <label for="number-comments">Maximum number of comments to display:</label> 
        <input type="number" name="number-comments" id="number-comments" min="1" max="50" value="5">
        <ul id="comment-display"></ul>
      </div>
      <footer class="footer">
        <a href="../index.html"><p>About</p></a>
        <p>&#x2609;</p>
        <a href="comments.html"><p>Contact</p></a>
      </footer>
    </div> 
    <script src="../scripts/comments.js"></script> 
  </body>
</html>