body {
    cursor: none; 
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#profile-picture {
    display: flex; 
    justify-content: center; 
    border-radius: 50%;
    z-index: -5; 
    width: 15rem;
    height: 15rem; 
}

#greeting-container {
  margin-top: 20px;
}

#icon {
    width: 100px;
    height: 50px;
    background: aqua; 
}

.cursor {
    width: 2rem; 
    height: 2rem;
    border: 2px solid black; 
    border-radius: 50%; 
    position: absolute; 
    transform: translate(-50%,-50%); 
    pointer-events: none; 
    transition: all 0.3s ease; 
    transition-property: background, transform;
    transform-origin: 100% 100%; 
    z-index: -1;  
}

.sections {
    padding: 1rem; 
    width: 80%; 
    display: flex; 
    justify-content: space-between;
    list-style:none; 
}

.grow-cursor {
    transform: scale(2); 
    background: black; 
}

.color-text {
    color:white 
}

.main-text {
    color: rgba(0, 0, 0, 0); 
}

.fade-text-in {
    color: rgba(0, 0, 0, 1);
    transition: all 1s ease; 
}

.fade-image-out {
    opacity: 0;
    transition: all 1s ease; 
}

.eerie-text {
    color: #8a0303;
    transition: all 2s ease; 
}